.logo, .title {
    color: #F9FAF8;
}

.header, .subpage-one, .footer {
    background-color: #1F2937;  
}

button {
    background-color: #3882f6;
    padding: 5px 20px;
    border-radius: 12px;
    color: white;
    font-size: 20px;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    margin-left: 20px;
   
}

a, .left .subtext {
    text-decoration: none;
    color: #E5E7EB;
}

img {
    border: 5px solid #3882f6;
    border-radius: 12px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.subtext {
    font-size: 18px;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

.content {
    flex: 1;
}

.subpage-one img {
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: row;
}

.subpage-two img {
    height: 200px;
    width: 200px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 250px;
}

.subpage-one {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px 250px;
}

.left{
    height: 300px;
    width: 500px;
}

.title {
    font-size: 48px;
    font-weight: 800;
}

.subpage-one button {
    margin-top: 10px;
    border: none;
}

.subpage-one img {
    margin-left: 70px;
}

.subpage-two {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.image-title {
    color: #1F2937;  
    font-size: 36px;
    font-weight: 800;
    margin: 50px 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subpage-two-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.item {
    height: 500px;
    width: 200px;  
    margin-bottom: 150px;  
}

.subpage-two .subtext {
    text-align: center;
    color: #787b7e;
}


.subpage-three {
    background-color: #E5E7EB;
}

.subpage-four {
    background-color: white;
}

.footer {
     
}